html {
  background: url(img/background.jpg) no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#memory_board {
  background:#dddddd;
	width:800px;
	height:540px;
	padding:70px;
	margin:0px auto;
  border-radius: 84px;
  box-shadow: inset 0px 0px 20px -6px rgba(97,89,97,1);
  margin-top: 20px;
}

.card .back {
  background-color: #456783;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
}
.card .front.blocked,
.card .back.blocked {
  pointer-events: none;
}

#score {
  background-color: rgba(215, 44, 44, 0.9);
  border-radius: 8px;
  font-size: 30px;
  font-family: Arial;
  width:200px;
  padding: 10px 20px;
  margin-bottom: 30px;
  margin: auto;
}

.container {
  position: relative;
}

h1 {
  color: white;
  font-weight: bolder;
  font-size: 67px;
  text-align: center;
  text-shadow: 2px 0 0 rgb(71, 71, 71), -2px 0 0 rgb(71, 71, 71), 0 2px 0 rgb(71, 71, 71), 0 -2px 0 rgb(71, 71, 71), 1px 1px rgb(71, 71, 71);


}

h2 {
  color: white;
  text-shadow: 2px 0 0 rgb(71, 71, 71), -2px 0 0 rgb(71, 71, 71), 0 2px 0 rgb(71, 71, 71), 0 -2px 0 rgb(71, 71, 71), 1px 1px rgb(71, 71, 71);
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}
