#memory_board {
	background:#dddddd;
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
.pic {
  background-color: #456783;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
}


button {
  font-family: Arial;
  font-size: 24px;
  padding: 10px;
  background-color: #173937;
  color: #fff;
  margin: 20px;
}
