body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  height: auto;
}

#background{
  height: 100vh;
  background: url(img/superheroes-marvel.jpg) no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#title{
  z-index: 2;
}

#background::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(247, 103, 19, 0.431);
  z-index: 1;
  }

.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
  align-items: center;
}

.enLinea {
  flex-direction: row;
  flex-wrap:  wrap;
}

#board_control{
  background:#dddddd;
	width:800px;
	padding:35px 70px;
	margin:0px auto;
  border-radius: 84px;
  box-shadow: inset 0px 0px 20px -6px rgba(97,89,97,1);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.star{
  font-size: 100px;
  margin: 0 10px 0 0;
}

.on{
  color:orange;
}

.off{
  color:rgb(99, 99, 99);
}

.board {
  background:#dddddd;
	width:800px;
	padding:70px;
	margin:0px auto;
  border-radius: 84px;
  box-shadow: inset 0px 0px 20px -6px rgba(97,89,97,1);
  z-index: 2;
}


.card {
	width:110px;
	height:110px;
  margin:10px;
  z-index: 10;
}

.cover {
  background-color: orange;
  width:110px;
  height:110px;
  z-index: 20;
}

.blocked {
  pointer-events: none;
}

#score {
  font-size: 30px;
  font-family: Arial;
  width:200px;
  z-index: 4;
}

h1 {
  color: yellow;
  font-weight: bolder;
  font-size: 75px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(231, 40, 40, 0.904);
}

h2 {
  color: #456783;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px #ff0000;
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}
