@font-face {
        font-family: spiderman;
        src: url("font/The Amazing Spider-Man.ttf");
}

#memory_board {
	width: 90%;
	height: auto;
	margin-left: 4%;
	margin-right: 4%;
}

h1{
	color: #ff0000;
	font-family: spiderman;
	font-size: 4.5vw;
	margin-top: 2%;
	text-align: center;
}

.col{
	margin: 1.5%;
	border-style: solid;
	border-color: #ffff00;
	width: auto;
	height:117px;
	background: rbga(51, 51, 51, 1);
}

.pic {
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
}

body{
	background-image: url("img/wallup-55018.jpg");
	background-size: contain;
}
