html {
  background: url(img/marvel.jpg) no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#memory_board {
  background: #dddddd;
  width: 800px;
  height: 540px;
  padding: 70px;
  margin: 0px auto;
  border-radius: 84px;
  box-shadow: inset 0px 0px 20px -6px rgba(97, 89, 97, 1);
}

.card {
  background-color: #456783;
  width: 71px;
  height: 71px;
  float: left;
  margin: 10px;
  padding: 20px;
  font-size: 64px;
}

.blocked {
  pointer-events: none;
  /*pointer-events means they cannot click on that DOM*/
}

#score {
  background-color: white;
  border-radius: 8px;
  font-size: 30px;
  font-family: Arial;
  width: 200px;
  padding: 20px;
  padding-top: 0;
  margin-left: 25%;
  display: initial;
}

.container {
  position: relative;
}

h1 {
  color: rgba(215, 40, 40, 0.9);
  font-weight: bolder;
  font-size: 67px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);
  background-color: rgba(255, 255, 255, 0.75)
}

h2 {
  color: #456783;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px #ff0000;
  text-shadow: 1px #ff0000;
  background-color: rgba(255, 255, 255, 0.75)
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75)
}
