html {
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#memory_board {
  background:#dddddd;
	width:800px;
	height:540px;
	padding:70px;
	margin:0px auto;
  border-radius: 84px;
  box-shadow: inset 0px 0px 20px -6px rgba(97,89,97,1);
}


.card .back {
  background-color: #456783;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
}
.card .front.blocked,
.card .back.blocked {
  pointer-events: none;
}

.score-class {
  background-color: rgba(151, 147, 147, 0.8);;
  border-radius: 8px;
  font-size: 30px;
  font-family: Arial;
  width:200px;
  padding: 20px;
  padding-top: 0;
  margin-left: 75%;
}
.wrong{
  background-color: rgba(255, 0, 0, 0.74);
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.right{
  background-color: rgba(45, 192, 118, 0.74);
  animation: nod 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.container {
  position: relative;
}

h1 {
  color: rgba(215, 40, 40, 0.9);
  font-weight: bolder;
  font-size: 67px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);

}

h2 {
  color: #456783;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px #ff0000;
  text-shadow: 1px #ff0000;
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes nod {
  10%, 90% {
    transform: translate3d(0, -1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 4px, 0);
  }
}