html {
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#memory_board {
  background:#dddddd;
	width:800px;
	height:540px;
	padding:70px;
	margin:0px auto;
  border-radius: 84px;
  box-shadow: inset 0px 0px 20px -6px rgba(97,89,97,1);
}


.card .back {
  background-image: url(../img/gatete.jpg) ;
  background-size:contain;
  background-color: #456783;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
}
.card .front.blocked,
.card .back.blocked {
  pointer-events: none;
}

#score {
  background-color: rgba(215, 44, 44, 0.8);
  border-radius: 8px;
  font-size: 30px;
  font-family: Arial;
  width:200px;
  padding: 20px;
  padding-top: 0;
  margin-left: 75%;
}

.container {
  position: relative;
}

h1 {
  color: rgba(215, 40, 40, 0.9);
  font-weight: bolder;
  font-size: 67px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);

}

h2 {
  color: #456783;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px #ff0000;
  text-shadow: 1px #ff0000;
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

.negativo{
  pointer-events: none;
  cursor:not-allowed;
}
.comic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.texto{
  position: absolute;
  margin-left:400px;
  margin-top:50px;
  text-align: center;
height:100px;
border-radius: 125px;
background-color: white;
color: red;
padding: 10px;
width: 420px;
font-family: 'Indie Flower', cursive;
font-size: 2em
}

.texto:before {
content:"";
position: absolute;
width: 0;
height: 0;
border-bottom: 20px solid white;
border-right: 18px solid transparent;
border-left: 18px solid transparent;
margin: -30px 0 0 40px;
}

.button:hover {
  background-color: white;
  color: black;
}

.button {
  position: absolute;
  top: 80%;
  left: 45%;
  background-color: #456783;
  background: linear-gradient(top, rgb(97,196,25) 0%, rgb(149,226,90) 100%);
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 6px 0px 0px rgba(88, 163, 31, 1),
              0px 5px 12px 0px rgba(0, 0, 0, 0.6),
              inset 0px 0px 10px -5px rgba(0, 0, 0, 1);
  transition: all 100ms linear;
  user-select: none;
  cursor: pointer;
  display: block;
  font-family: Arial Black, Gadget, sans-serif;
  font-size: 15px;
  color:black;
  text-align: center;
  text-transform: uppercase;
}