@font-face {
  font-family: "SuperHero";
  src: url("./superhero.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url('../img/background.jpg') no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "SuperHero";
  /* text-shadow: 3px 3px 1px black; */
}

#memory-board {
  background: #dddddd;
  width: 800px;
  height: 540px;
  padding: 70px;
  margin: 0px auto;
  border-radius: 84px;
  box-shadow: inset 0px 0px 20px -6px rgba(97, 89, 97, 1);
  position: relative;
}

.hide {
  opacity: 0;
}

.card {
  display: inline-block;
  perspective: 300px;
  transform-style: preserve-3d;
  position: relative;
  transition: opacity 1s;
}

.card.turned {
  pointer-events: none;
}

.card.turned .front {
  transform: rotateY(0deg);
}
.card.turned .back {
  transform: rotateY(180deg);
}

.card .back,
.card .front {
  width: 71px;
  height: 71px;
  margin: 10px;
  padding: 20px;
  font-size: 64px;

  transition: transform 0.6s;
}

.card .back {
  background-color: #456783;
}

.card .front {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(-180deg) translateZ(1px);
  backface-visibility: hidden;
}

#score {
  background-color: rgba(215, 44, 44, 0.8);
  border-radius: 8px;
  font-size: 30px;
  font-family: Arial;
  width: 200px;
  padding: 20px;
  padding-top: 0;
  margin-left: 75%;
}

.container {
  position: relative;
}

h1 {
  color: rgba(215, 40, 40, 0.9);
  font-weight: bolder;
  font-size: 67px;
  text-align: center;
  text-shadow: 2px 2px 20px rgba(150, 150, 150, 1);
}

h2 {
  color: #456783;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px #ff0000;
  text-shadow: 1px #ff0000;
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

#end-game-box {
  transition: opacity 3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(215, 44, 44, 0.8);
  width: 400px;
  height: 180px;
  box-shadow: 8px -5px 3px lightslategray;
}

#end-game-box p{
  font-size: 3em;
  color: #456783;
  font-weight: bolder;
  margin: 20px;
}

#end-game-box button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  border-radius: 50%;
}