body {
  margin: 0;

  background: url('../img/background.jpg') no-repeat;
  background-size: cover;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#memory-board {
  background: #dddddd;
  width: 820px;
  height: 540px;
  padding: 70px;
  margin: 0px auto;
  border-radius: 84px;
  box-shadow: inset 0px 0px 20px -6px #615961;
}

.card {
  display: inline-block;
  perspective: 300px;
  transform-style: preserve-3d;
  position: relative;
}

.card.turned {
  pointer-events: none;
}

.card.turned .front {
  transform: rotateY(0deg);
}
.card.turned .back {
  transform: rotateY(180deg);
}

.card .back,
.card .front {
  width: 71px;
  height: 71px;
  margin: 10px;
  padding: 20px;
  font-size: 64px;
  transition: transform 0.6s ease;
}

.card .back {
  background-color: #456783;
}

.card .front {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(-180deg) translateZ(1px);
  backface-visibility: hidden;
}

#score {
  background-color: rgba(215, 44, 44, 0.8);
  border-radius: 8px;
  font-size: 30px;
  font-family: Arial;
  width: 200px;
  padding: 20px;
  margin-left: 75%;
}

h1 {
  color: rgba(215, 40, 40, 0.9);
  font-weight: bolder;
  font-size: 67px;
  text-align: center;
  text-shadow: 0px 0px 20px #969696;
}

h2 {
  margin-top: 0;
  color: #456783;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px red;
}

p {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}
